<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap">

        <link rel="shortcut icon" href="../assets/img/logo.svg" type="image/x-icon">
        
        <link rel="stylesheet" href="../assets/css/reset.css">
        <link rel="stylesheet" href="../assets/css/style-picos.css">

        <title>HZC Home</title>
    </head>
    <body>
        <header class="header">
            <button class="header_menu" aria-label="Menu"><i></i></button>
            <img class="header_logo" src="../assets/img/logo.svg" alt="Logotipo da HZC">

            <p class="header_profile">Paulo Marques</p>

            <button class="header_notification" aria-label="Notificação"><i></i></button>
        </header>
        
        <nav class="menu-left">
            <img  class="menu-left_logo" src="../assets/img/logo.svg" alt="Logotipo da HZC">
            <a class="menu-left_link menu-left_link-inicio" href="../index.html">Início</a>
            <a class="menu-left_link menu-left_link-videos" href="./videos.html">Vídeos</a>
            <a class="menu-left_link menu-left_link-picos menu-left_link--active" href="./picos.html">Picos</a>
            <a class="menu-left_link menu-left_link-integrantes" href="#">Integrantes</a>
            <a class="menu-left_link menu-left_link-camisas" href="./camisas.html">Camisas</a>
            <a class="menu-left_link menu-left_link-pinturas" href="#">Pinturas</a>
        </nav>

        <main class="main">
            <h2 class="title-page">Picos</h2>

            <article class="card card--destaque destaque-video card-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.1129029790136!2d-47.778500585857564!3d-15.90315492987439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a21cce3cc9fe5%3A0x6e85f0697a5363d5!2sQ.%20201%20-%20S%C3%A3o%20Sebasti%C3%A3o%2C%20Bras%C3%ADlia%20-%20DF%2C%2071692-501!5e0!3m2!1spt-BR!2sbr!4v1665432439687!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </article>

            
            <article class="card card-recentes videos-recentes">
                <h3 class="card-title">Favoritos</h3>
                <a href="#" class="card-link">Ver todos</a>
                <ul class="card-list">
                    <li class="card-item">
                        <img src="../assets/img/miniatura_1.png" alt="Thumbnail" class="card-item-thumbnail">
                        <h4 class="card-item-title">Wallride da FGP</h4>
                        <p class="card-item-profile">Júlia Fonseca</p>
                    </li>
                    <li class="card-item">
                        <img src="../assets/img/miniatura_2.png" alt="Thumbnail" class="card-item-thumbnail">
                        <h4 class="card-item-title">Borda de valores</h4>
                        <p class="card-item-profile">Júlia Fonseca</p>
                    </li>
                    <li class="card-item">
                        <img src="../assets/img/miniatura_3.png" alt="Thumbnail" class="card-item-thumbnail">
                        <h4 class="card-item-title">Wallride do Rebouças</h4>
                        <p class="card-item-profile">Júlia Fonseca</p>
                    </li>
                    <li class="card-item">
                        <img src="../assets/img/miniatura_4.png" alt="Thumbnail" class="card-item-thumbnail">
                        <h4 class="card-item-title">Segundo setor da Praça Mauá</h4>
                        <p class="card-item-profile">Júlia Fonseca</p>
                    </li>
                    <li class="card-item">
                        <img src="../assets/img/miniatura_5.png" alt="Thumbnail" class="card-item-thumbnail">
                        <h4 class="card-item-title">Borda de valores</h4>
                        <p class="card-item-profile">Júlia Fonseca</p>
                    </li>
                    <li class="card-item">
                        <img src="../assets/img/miniatura_1.png" alt="Thumbnail" class="card-item-thumbnail">
                        <h4 class="card-item-title">Wallride do Rebouças</h4>
                        <p class="card-item-profile">Júlia Fonseca</p>
                    </li>
                </ul>
            </article>
            
            <section class="section section-videos">
                <h3 class="title-section">Picos mais visitados</h3>
                
                <article class="card">
                    <img class="card-img" src="../assets/img/video_1.png" alt="Vídeo">
                    <div class="card-content">
                        <p class="card-profile">André Soares</p>
                        <h3 class="card-title">Gap do Itaú da Voluntários da Pátria</h3>
                        <p class="card-info card-info--visualization">33 visualizações</p>

                        <button class="card-button card-button--videos-mais-visitados card-button--local" aria-label="Assistir agora"></button>
                    </div>
                </article>

                <article class="card">
                    <img class="card-img" src="../assets/img/video_2.png" alt="Vídeo">
                    <div class="card-content">
                        <p class="card-profile">Bruno Lopes</p>
                        <h3 class="card-title">Gap com mureta da Voluntários</h3>
                        <p class="card-info card-info--visualization">33 visualizações</p>

                        <button class="card-button card-button--videos-mais-visitados card-button--local" aria-label="Assistir agora"></button>
                    </div>
                </article>

                <article class="card">
                    <img class="card-img" src="../assets/img/video_3.png" alt="Vídeo">
                    <div class="card-content">
                        <p class="card-profile">Luiza Sampaio</p>
                        <h3 class="card-title">Rampa da entrada do túnel Rebouças</h3>
                        <p class="card-info card-info--visualization">33 visualizações</p>

                        <button class="card-button card-button--videos-mais-visitados card-button--local" aria-label="Assistir agora"></button>
                    </div>
                </article>

                <article class="card">
                    <img class="card-img" src="../assets/img/video_4.png" alt="Vídeo">
                    <div class="card-content">
                        <p class="card-profile">Bruno Lopes</p>
                        <h3 class="card-title">Wallride de pedra portuguesa da FGP</h3>
                        <p class="card-info card-info--visualization">33 visualizações</p>

                        <button class="card-button card-button--videos-mais-visitados card-button--local" aria-label="Assistir agora"></button>
                    </div>
                </article>
            </section>

        </main>

        <script src="../index.js"></script>
    </body>
</html>